*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
}

.container{
    display: grid;
    grid-template-columns: 2fr minmax(100px, 3fr);
    border-bottom: 1px solid #ddd;
}
.info{
    align-self: center;
}
.dish{
    margin: 0;
    width: 100%;
    object-fit: contain;
}
.title{
    color: #333;
    font-size: 3.7rem;
    margin-bottom: 24px;
}
.sub{
    color: #333;
    font-size: 2.7rem;
    margin-bottom: 24px;
}
.boton{
    border: none;
    border-radius: 20px;
    color: #333;
    background-color: #fb9c00;
    font-weight: 900;
    padding: 12px 24px;
}
.services-title{
    color: #333;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 100px 0 50px 0;
}

.dishes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 25px;
    justify-content: center;
}

.dishes-item{
    margin: 0;
}
.dishes-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dishes-item__big{
    grid-area: 1 / 1 / 3 / 3 ;
}
.menu-title{
    color: #333;
    font-size: 3rem;
    font-weight: bolder;
    margin: 100px 0 50px 0;
    text-align: center
}

.plates{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    margin-bottom: 100px;
}
.plates-image{
    background-color: #ffebee;
    padding: 20px;
    border-bottom-left-radius: 30px;
}
.plates-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.color-plate{
    box-shadow: 3px 2px 4px black;
    background-color: aqua;
}